#game-canvas {
    background-color: #f1f1f1;
}

#bodyId {
    background-color: rgba(173, 216, 230, 0.75);
}

#mainDiv {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    grid-template-rows: 80vh;
    max-width: 1500px;
    margin: auto;
    margin-top: 1rem;
}

.subMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #333;
    border-radius: 0.5rem;
    background-color: white;
    max-height: 500px;
}

#game-canvas {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

header {
    background-color: #333;
    padding: 10px;
    display: flex;
    color: white;
    right: 30%;
    display: flex;
}

.header-button {
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

#sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 10px;
    right: -10px;
}

#sidenav a {
    right: 100px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #333;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 123, 255);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 123, 255);
    cursor: pointer;
}

#openSidenav {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-left: auto;
}

#options {
    display: grid;
}

.whiteColor {
    color: white;
}

.whiteBackground {
    background: white;
}

#sidenavDescription {
    color: white;
    padding-right: 10px;
}

.standardDiv {
    width: 80%;
    margin: auto;
}

.textDiv {
    text-align: justify;
    margin: 10px;
}

#neutralOrientation {
    margin: 10px 0px 0px 0px;
}

@media (max-width: 60rem) {
    #mainDiv {
        grid-template-columns: 1fr;
    }
    #options {
        display: none !important;
    }
    #openSidenav {
        display: block;
    }
}

@media (max-height: 35rem) {
    footer {
        display: none;
    }
}